{% extends "base.html.twig" %}
{% block titleSufix %}- Lista urządzeń{% endblock %}
{% block body %}

<style>
.list-group li:hover{
    background-border color:#0000ff;
    border color:white;
}
.machine:hover{
    cursor:pointer;
    background:#696969;
    color:#fff;
}
</style>

<div style="margin-left:2.5%; margin-top:3%; width:95% !important">

    <center><h1> Lista urządzeń </h1></center>
    <div class="row">
        <div class="border col-2" >Klient</div>
        <div class="border col-2" >Nazwa</div>
        <div class="border col-2" >Adres IP</div>
        <div class="border col-1" >PING</div>
        <div class="border col-1" >HTTP</div>
        <div class="border col-1" >INNE</div>
        <div class="border col-3" ></div>
        
    </div>
    <div class="row" id="content-box">
        
    </div>
    <div class="row">
        <div class="border col-2" ><input class="form-control" id="client_name" name="client_name" autocomplete="off"></div>        
        <div class="border col-2" ><input class="form-control" id="machine_name" name="machine_name" autocomplete="off"></div>        
        <div class="border col-2" ><input class="form-control" type="text"  id="ip_address" name="ip_address" autocomplete="off"></div>        
        <div class="border col-1" ><input class="form-control" type="checkbox" id="ping_test" name="ping_test" autocomplete="off"></div>        
        <div class="border col-1" ><input class="form-control" type="checkbox" id="http_test" name="http_test" autocomplete="off"></div>        
        <div class="border col-1" ><input class="form-control" type="checkbox" id="other_test" name="other_test" autocomplete="off"></div>        
        <div class="border col-3">
            <button type="submit" id="btn-add" class="btn btn-success" style="width:100%;">
                Dodaj
            </button>
        </div>
    </div>
</div>
<br/>
    
    <script src="http://178.19.96.101/InDiagnostic/app/public/js/charts/line/settingsTwig.js"></script>

    <script>
        edit_url = "{{path("settings_edit")}}";
        fetch_url = "{{path("settings_get_all")}}";
        delete_url = "{{path("settings_delete")}}";
        add_url = "{{path("settings_add")}}";
        fetch();        
    </script>
{% endblock %}