{% extends 'base.html.twig' %}
{% block titleSufix %} - Pomiary bieżace{% endblock %}
{% block body %}
<div style='margin-left:10%; margin-top:3%; width:80% !important'>
    <center><h1> Stan urządzeń </h1></center><br/>

    <div class='row border machines'>
       <table id="content-table" style='width:100%;'></table>
    </div>

</div>

<script src="http://178.19.96.101/InDiagnostic/app/public/js/charts/line/currentTwig.js">
</script>

<script>
    fetch('{{path('settings_get_all')}}');    

    setInterval(function(){
        fetch('{{path('settings_get_all')}}');    
    },10000);
</script>
{% endblock %}